
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="container">
 <!-- ヘッダーここから -->
          <div class="masthead clearfix">
            <div class="container inner">
              <h3 class="masthead-brand"></h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/about">鯉な店データベースとは？</a></li>
                  <li><a href="users/sign_up">新規登録</a></li>
                  <li><a href="/users/sign_in">ログイン</a></li>
                </ul>
              </nav>
            </div>
          </div>
 <!-- ヘッダーここまで -->


 <!-- メインここから -->
          <div class="inner cover">
            <h1 class="cover-heading">鯉な店データベース</h1>
            <p class="lead">あなたの街にある、カープファンの聖地を投稿しよう！</p>
          </div>

        </div>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">検索</a>
            </p>
      </div>

    </div>
 <!-- メインここまで -->
    
 <!-- フッターここから -->
<div  id="footer">

    <!-- footer nav -->
    <ul class="navbar-nav list-inline">
        <li class="first">
          <a href="/about">鯉な店データベースとは？</a>
        </li>
        <li>
          <a href="/users/sign_up">新規登録</a>
        </li>
        <li>
          <a href="/users/sign_in">ログイン</a>
        </li>
    </ul>

    <!-- copy right -->
    <div class="copy">
        <span>©︎ 鯉な店データベース</span>
    </div>
</div>
<!-- end footer -->
  <!-- フッターここまで -->