
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="container">
 <!-- メインここから -->
          <div class="inner cover">
            <h1 class="cover-heading">鯉な店データベースとは？<br></h1>
            <p class="lead">選手の実家のお店、カープを応援するバーなど、あなたの街の聖地をシェアするデータベースです。</p>
            <p class="lead">全国のカープファン同士で出会い、仲良くなりましょう！</p>
          </div>

        </div>
      </div>

    </div>
 <!-- メインここまで -->
    
 <!-- フッターここから -->
<div  id="footer">

    <!-- footer nav -->
    <ul class="navbar-nav list-inline">
        <li class="first">
          <a href="/">トップページ</a>
        </li>
        <li>
          <a href="">新規登録</a>
        </li>
        <li>
          <a href="">ログイン</a>
        </li>
    </ul>

    <!-- copy right -->
    <div class="copy">
        <span>©︎ 鯉な店データベース</span>
    </div>
</div>
<!-- end footer -->
  <!-- フッターここまで -->